body {
	font-family: 'Fjalla One', sans-serif;
}

.topLogo {
	background-color: #000;
	text-align: center;
	width: 100%;
}

.topLogo img {
	max-width: 100%;
}

.widget {
	width: 500px; max-width: 95%; margin: 0 auto; padding: 10px; text-align: center;
}

.grey {
	background-color: #dcdcdc;
	max-width: 480px;
}

.green {
	height: 20px; 
	background-color: #00FF00;
	padding: 5px;
	margin: 5px;
	display: block;
}

.red {
	height: 20px; 
	background-color: #FF0000;
	color: #fff;
	padding: 5px;
	margin: 5px;
	display: block;
}

.blue {
	height: 20px; 
	color: #fff;
	background-color: #0000FF;
	padding: 5px;
	margin: 5px;
	display: block;
}

.purple {
	height: 20px; 
	color: #fff;
	background-color: #2E0854;
	padding: 5px;
	margin: 5px;
	display: block;
}


.legend {
	font-size: 10px;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	text-align: left;
	display: block;
	width: 250px;
	margin: 0 auto;
	padding: 5px;
}



